# uncomment/set entries as needed:
# ENVIRONMENT=
# CONFIGURATION=
# CONSOLE=
# OPENSTACK=
# USERNAME=
ADMIN_PASSWORD=ipmpass   
DATABASE_PASSWORD=dbpass   
RABBIT_PASSWORD=rabbitpass   
SERVICE_PASSWORD=servpass  
